* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
}
header {
  width: 100%;
  height: 80px;
  background: rgb(32, 36, 0);
  background: linear-gradient(
    289deg,
    rgba(32, 36, 0, 1) 0%,
    rgba(121, 9, 9, 1) 25%,
    rgba(0, 212, 255, 1) 100%
  );
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  position: relative;
}
.header_1div_a {
  display: flex;
  flex-wrap: wrap;
}
.logo_image {
  width: 120px;
  margin-left: 20px;
  margin-top: 5px;
}
.header_menu {
  display: none;
}
.nav_container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.ul_container {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}
.ul_container li {
  padding-right: 1.5rem;
}
.ul_container li a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #fbfcfc;
  font-weight: bold;
}
.input_container {
  width: 280px;
  height: 40px;
  border-radius: 100px;
  border: 1px solid #dfe1e5;
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  background-color: white;
}
.input_container input {
  width: 240px;
  border: none;
  outline: none;
  border-radius: 0 100px 100px 0;
  display: flex;
  flex-wrap: wrap;
}
.input_container .first_icon {
  background-image: url("https://cdn0.iconfinder.com/data/icons/black-friday-glyph-5/32/Black_Friday_Search_Magnifier_Glyph-512.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 20px;
  margin: 0 10px 0 5px;
}
.input_container .search_icon {
  background-image: url("https://www.gstatic.com/images/branding/googlemic/2x/googlemic_color_24dp.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 26px;
  margin: 0 5px 0 0;
}
main {
  /* width: 40%; */
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.main_product {
  width: 100%;
  min-width: 320px;
  max-width: 350px;
  /* height: auto; */
  padding: 15px;
  margin: 15px auto;
  /* margin-left: 10px; */
  /* margin-top: 10px; */
  background-color: #ffffff;
  border: 2px solid blue;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}
.anestesia_container {
  display: flex;
  justify-content: center;
}
.anestesia_img {
  width: 150px;
  margin-top: 10px;
}
.product_title {
  margin-top: 10px;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}
.product_body {
  margin-top: 10px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  text-align: start;
}
.ventilador_container {
  display: flex;
  justify-content: center;
}
.ventilador_img {
  width: 150px;
  margin-top: 10px;
}
.babyleo_container {
  display: flex;
  justify-content: center;
}
.babyleo_img {
  width: 300px;
  margin-top: 10px;
}
.iacs_container {
  display: flex;
  justify-content: center;
}
.iacs_img {
  width: 300px;
  margin-top: 10px;
}
.polaris_container {
  display: flex;
  justify-content: center;
}
.polaris_img {
  width: 300px;
  margin-top: 10px;
}
.alvo_container {
  display: flex;
  justify-content: center;
}
.alvo_img {
  width: 300px;
  margin-top: 10px;
}
footer {
  width: 100%;
  height: 80px;
  background: rgb(32, 36, 0);
  background: linear-gradient(
    289deg,
    rgba(32, 36, 0, 1) 0%,
    rgba(121, 9, 9, 1) 25%,
    rgba(0, 212, 255, 1) 100%
  );
  display: flex;
}
.container_parrafo {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container_parrafo p {
  font-size: 1.5rem;
  color: #fbfcfc;
  font-weight: bold;
}
.container_img_footer {
  width: 50%;
  display: flex;
  justify-content: center;
}
.img_footer {
  width: 50px;
  margin: 15px auto;
  cursor: pointer;
}
@media (max-width: 995px) {
  .ul_container {
    display: none;
  }
  .input_container {
    display: none;
  }
  .header_menu {
    width: 100%;
    font-size: 1.5rem;
    color: #fbfcfc;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
  }
}
